
<div class="row white">
  <div class="panel span12">
    <div class="inner">
      <div class="header clearfix">
        <!-- 当前话题 -->
        Austin AcroYoga
        <% if (locals.current_user) { %>
          <a href='/topic/create' id='create_topic_btn'>
            <button class='btn btn-success'>New Topic</button>
          </a>
        <% } %>
      </div>
      <% if (locals.topics && topics.length > 0) { %>
      <%- partial('topic/list', {
        topics: topics,
        pages: pages,
        current_pages: current_page,
        base: keyword ? ('/?q=' + keyword) : '/'
      }) %>
      <% } else { %>
        <div class='inner'>
          <!-- <p>无话题</p> -->
          <p>No topics found</p>
        </div>
      <% } %>
    </div>
  </div>
</div>
