<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- meta -->
    <meta charset="utf-8" />
    <meta name='description' content='<%= config.description %>'>
    <%
    var headers = config.site_headers || [];
    for (var i = 0, l = headers.length; i < l; i++) {
    %>
    <%- headers[i] %>
    <% } %>
    <link title="RSS" type="application/rss+xml" rel="alternate" href="/rss" />
    <!-- style -->
    <%- Loader('/public/stylesheets/index.min.css')
      .css('/public/libs/bootstrap/css/bootstrap.css')
      .css('/public/stylesheets/common.css')
      .css('/public/stylesheets/style.css')
      .css('/public/stylesheets/acro_style.css')
      .css('/public/stylesheets/bjqs.css')
      .css('/public/stylesheets/common.css')
      .css('/public/stylesheets/demo.css')
      .css('/public/libs/code-prettify/prettify.css')
      .css('http://fonts.googleapis.com/css?family=Offside')
      .css('http://fonts.googleapis.com/css?family=Armata')
      .done(assets, config.site_static_host, config.mini_assets)
    %>
    <% if (locals.extra_style) { %>
    <style type="text/css">
      <%- locals.extra_style %>
    </style>
    <% } %>
    <%- Loader('/public/index.min.js')
      .js('/public/libs/code-prettify/prettify.js')
      .js('/public/libs/jquery/jquery.js')
      .js('/public/libs/bootstrap/js/bootstrap.js')
      .js('/public/javascripts/main.js')
      .js('/public/javascripts/bjqs-1.3.js')
      .js('/public/javascripts/player.js')
      .done(assets, config.site_static_host, config.mini_assets)
    %>
    <% if (config.site_enable_search_preview) { %>
    <script>
      var __google_search_domain = '<%= config.site_google_search_domain || "" %>';
    </script>
    <script src='/public/javascripts/google_search_preview.js'></script>
    <% } %>
    <% if (locals.topic) { %>
    <title><%= topic.title %> - <%= config.name %></title>
    <% } else { %>
    <title><%= config.description %></title>
    <% } %>
  </head>
  <body>
    <div class="container">
      <div class="row topbar mtop">
        <div class="span12 namehold">
          <h1 class="title"><a href="/">Austin AcroYoga</a></h1> 
        </div>
      </div>

      <div class="row topbar menubar">

        <div class="menumain span2"><a class="first" href="/calendar">Calendar</a>
        </div>
        <div class="menumain span2 etiquette"><a class="second" href="/etiquette">Etiquette</a>
        </div>
        <div class=" menumain span2"><a class="third" href="/forum">Forum</a>
        </div>

        <div class="menumain span2"><a class="fourth" class="small" href="/faq">FAQ</a>
        </div>
        <div class="menumain span2"><a class="fifth" href="/gallery">Gallery</a>
        </div>
        <div class="menumain span2"><a class="last resources" href="/resources">Resources</a>
        </div>

      </div> 
    <% if (!locals.static) { %>
      <div class="row white">
        <div class="panel span12">
          <div class="header">
            <% if (locals.current_user) { %>
              <a href="/user/<%= current_user.name %>"><%= current_user.name %></a>
              <a href="/signout">Sign out</a>
            <% } else { %>
              <a href="/signin">Sign in</a>
              <a href="/signup">Sign up</a>
            <% } %>
          </div>
        </div>
      </div>
    <% } %>
    <%- body %>
  </body>
</html>
