<!-- <%- partial('sidebar') %> -->

<div id='content'>
	<div class='panel'>
		<div class='header'>
			<ul class='breadcrumb'>
				<li><a href='/'>Home</a><span class='divider'>/</span></li>
				<li class='active'><%= user.name %>'s collections</li>
			</ul>
		</div>
		<div class='inner'>
			<% if (topics.length > 0) { %>
			<%- partial('topic/list', { topics: topics, pages: pages, current_pages: current_page, base: '/user/' + user.name + '/collections' }) %>
			<% } else { %>
			<p>No Topics</p>	
			<% } %>
		</div>
	</div>	
</div>
