<!-- <%- partial('sidebar') %>  -->

<div class="row white">
	<div class='panel span12'>
		<div class='inner userinfo'>
			<div class='user_big_avatar'>
				<img src="<%= user.avatar_url %>" class="user_avatar" title="<%= user.name %>" />
			</div>
			<% if (locals.current_user && current_user._id != user._id) { %>
				<% if (!locals.relation) { %>
				<button class='btn btn-success follow_btn' action='follow'>Follow</button>
				<% } else { %>
				<button class='btn follow_btn' action='un_follow'>Unfollow</button>
				<% } %>
			<% } %>
			<a class='dark'><%= user.name %></a>
			<div class='col_fade'>
				<span>
					<img src="<%- config.site_static_host %>/public/images/cert_icon&16.png" />
					<%= user.following_count %> following
					<%= user.follower_count %> followers
				<% if (user.signature) { %>
					<span><%= user.signature %></span>
				<% } %>
			</div>
			<div class='user_profile'>
				<ul class='unstyled'>
					<% if (user.url) { %>
					<li>
						<img class='user_icon' src="<%- config.site_static_host %>/public/images/paper_airplane_icon&16.png" />
						<a class='dark' href="<%= user.url %>" target='_blank'><%= user.url %></a>
					</li>
					<% } %>
					<% if (user.location) { %>
					<li>
						<img class='user_icon' src="<%- config.site_static_host %>/public/images/compass_icon&16.png" />
						<span class='col_fade'><%= user.location %></span>
					</li>
					<% } %>
				</ul>
				<% if (user.profile) { %>
					<p><%= user.profile %></p>
				<% } %>
			</div>
			<p class='col_fade'>Flying for <%= user.friendly_create_at %></p>
			<% if (locals.current_user && current_user.is_admin) { %>
				<% if (!user.is_star) { %>
				<button class='btn' id='set_star_btn' action='set_star'>Star</button>
				<% } else { %>
				<button class='btn' id='set_star_btn' action='cancel_star'>Unstar</button>
				<% } %>
				<br/><br/>
				Email (Seen by Administrator): <a href="mailto:<%= user.email %>"><%= user.email %></a>
				<% if (!user.active) { %>
				<a class='btn' href="/active_account?key=<%- locals.token %>&name=<%= user.name %>" target="_blank">Activate Account</a>
				<% } %>
			<% } %>
		</div>
	</div>	

	<div class='panel'>
		<div class='header'>
			<span class='col_fade'>Recently Posted</span>
		</div>
		<% if (locals.recent_topics && recent_topics.length > 0) { %>
		<%- partial('topic/abstract', { collection: recent_topics, as: 'topic' }) %>
		<div class='cell more'>
			<a class='dark' href="/user/<%= user.name %>/topics">See More</a>
		</div>
		<% } else { %>
		<div class='inner'>
			<p>No Posts</p>
		</div>
		<% } %>
	</div>

	<div class='panel'>
		<div class='header'>
			<span class='col_fade'>Recently Replied</span>
		</div>
		<% if (locals.recent_replies && recent_replies.length > 0) { %>
		<%- partial('topic/abstract', { collection: recent_replies, as: 'topic' }) %>
		<div class='cell more'>
			<a class='dark' href="/user/<%= user.name %>/replies">See More</a>
		</div>
		<% } else { %>
		<div class='inner'>
			<p>No Replies</p>
		</div>
		<% } %>
	</div>
</div>

<% if (locals.current_user) { %>
<script>
	$(document).ready(function () {
		$('#set_star_btn').click(function () {
			var $me = $(this);
			var action = $me.attr('action');
			var params = {
				user_id: '<%= user._id %>',
				_csrf: '<%- csrf %>'
			};
			$.post('/user/' + action, params, function (data) {
				if (data.status === 'success') {
					if (action === 'set_star') {
						$me.html('Unstar');
						$me.attr('action','cancel_star');
					} else {
						$me.html('Star');
						$me.attr('action','set_star');
					}
				}
			}, 'json');	
		});
	});
</script>
<% } %>
