<!-- <%- partial('sidebar') %> -->

<div id='content'>
	<div class='panel'>
		<div class='header'>
			<ul class='breadcrumb'>
				<li><a href='/'>Home</a><span class='divider'>/</span></li>
				<li class='active'>Settings</li>
			</ul>
		</div>
		<div class='inner'>
			<% if(locals.error){ %>
			<div class="alert alert-error">	
				<a class="close" data-dismiss="alert" href="#">&times;</a>
				<strong><%= error %></strong>
			</div>
			<% } %>
			<% if (locals.success) { %>
			<div class="alert alert-success">	
				<strong><%= success %></strong>
			</div>
			<% } %>
			<form id='setting_form' class='form-horizontal' action='/setting' method='post'>
				<div class='control-group'>
					<label class='control-label' for='name'>Username</label>
					<div class='controls'>
						<input class='input-xlarge readonly' id='name' name='name' size='30' type='text' readonly='true' value="<%= name %>" />
					</div>
				</div>
				<div class='control-group'>
					<label class='control-label' for='email'>Email</label>
					<div class='controls'>
						<input class='input-xlarge readonly' id='email' name='email' size='30' type='text' readonly='true' value="<%= email %>" />
					</div>
				</div>
				<div class='control-group'>
					<label class='control-label' for='profile_image_url'>Avatar URL</label>
					<div class='controls'>
						<input class='input-xlarge' id='profile_image_url' name='profile_image_url' type='text' value="<%= locals.profile_image_url || '' %>" />
					</div>
				</div>
				<div class='control-group'>
					<label class='control-label' for='signature'>Signature</label>
					<div class='controls'>
						<% if(locals.signature){ %>
						<input class='input-xlarge' id='signature' name='signature' size='30' type='text' value="<%= signature %>" />
						<% }else{ %>
						<input class='input-xlarge' id='signature' name='signature' size='30' type='text' value='' />
						<% } %>
					</div>
				</div>
				<div class='control-group'>
					<label class='control-label' for='profile'>Profile</label>
					<div class='controls'>
						<% if(locals.profile){ %>
						<textarea class='input-xlarge' id='profile' name='profile' rows='4'><%= profile %></textarea>
						<% }else{ %>
						<textarea class='input-xlarge' id='profile' name='profile' rows='4'></textarea>
						<% } %>
					</div>
				</div>
				<div class='control-group'>
					<label class='control-label' for='receive_at_msg'>Notifications</label>
					<div class='controls'>
						<label class='checkbox'>
							<% if(locals.receive_at_mail){ %>
							<input type='checkbox' name='receive_at_mail' checked='checked' />
							<% }else{ %>
							<input type='checkbox' name='receive_at_mail' />
							<% } %>
							when @mentioned
						</label>
						<label class='checkbox'>
							<% if (locals.receive_reply_mail){ %>
							<input type='checkbox' name='receive_reply_mail' checked='checked' />
							<% }else{ %>
							<input type='checkbox' name='receive_reply_mail' />
							<% } %>
							when someone responds to my topic
						</label>
					</div>
				</div>
				<input type='hidden' id='action' name='action' value='change_setting' />
				<input type='hidden' name='_csrf' value='<%= csrf %>' />
				<div class='form-actions'>
					<input type='submit' class='btn' value='Save' />
				</div>
			</form>
		</div>
	</div>	

	<div class='panel'>
		<div class='header'>	
			<span class='col_fade'>Profile Picture</span>
		</div>
		<div class='inner'>
			<p><%= config.name %>'s <a href='http://en.gravatar.com/' target='_blank'>gravatar</a></p>
			<p>Current profile picture</p>
			<% if (locals.profile_image_url) { %>
			custom: <img class="user_avatar" src="<%= locals.profile_image_url %>" />
			&nbsp;|&nbsp;
			<% } %>
			gravatar: <img class="user_avatar" src="<%= current_user.avatar %>" />
		</div>
	</div>

	<div class='panel'>
		<div class='header'>	
			<span class='col_fade'>Change password</span>
		</div>
		<div class='inner'>
			<form id='change_pass_form' class='form-horizontal' action='/setting' method='post'>
				<div class='control-group'>
					<label class='control-label' for='old_pass'>Old Password</label>
					<div class='controls'>
						<input class='input-xlarge' type='password' id='old_pass' name='old_pass' size='30' />
					</div>
				</div>
				<div class='control-group'>
					<label class='control-label' for='new_pass'>New Password</label>
					<div class='controls'>
						<input class='input-xlarge' type='password' id='new_pass' name='new_pass' size='30' />
					</div>
				</div>
				<input type='hidden' id='action' name='action' value='change_password' />
				<input type='hidden' name='_csrf' value='<%= csrf %>' />
				<div class='form-actions'>
					<input type='submit' class='btn' value='Change Password' />
				</div>
			</form>
		</div>
	</div>
</div>
