  <div class="row white bottom longtext">
    <div class="span12">
      <h1 class="pagetitle">Acro Etiquette & Jam Rules</h1> 
      <p class="bodytext">In order to have the most fun and enjoyable acro experience possible, here are a few items for your consideration. I'm all for people doing what they want. Radical self expression is good unless it interferes with another person's safety, rights, or well being. My intention and vision is for everyone to be safe so we can keep learning, growing and having as much fun as possible!</p>
      <p class="bodytext">We will do our best as a community to spread the word about these etiquette guidelines. That said, if a person repeatedly violates these points of etiquette, every instructor and host reserves the right to ask him or her to leave the class or jam.

</p>
      <p class="bodytext">These are in no particular order - they are all important.</p>
      <h3 class="pagesub">1. Safety First </h3> 
      <div class="content">
        <p class="bodytext">It's all fun and games until someone gets hurt. Yes, falls will happen when practicing certain poses. However, when leaning something new, it's ALWAYS a good idea to have a spotter (or two or three!) to keep things as safe as possible. If nobody is handy, then stop, wait, and ask for some help. It's also a very good idea for bases to get training on how to bring a flyer more safely to the ground, and for the flyer to learn safe falling and landing techniques. I strongly encourage you to take classes from experienced instructors to learn the fundamentals.</p>
        <p class="bodytext">Some acro balancers just don't know about spotting or don't know to ask. Spread the word. There are also people whose enthusiasm exceeds their skill level, and others who are just plain reckless. If you are ever in doubt, get a spotter - it's better to have one there and not need them, than the other way around.</p>
      </div>
      <h3 class="pagesub">2. Slip & Slide</h3> 
      <div class="content">
        <p class="bodytext">When practicing Acro, balance and counterbalance is very important, so it is critical that you are able to hold the grip with your partners hands, arms, feet, shoulders, etc. and have a stable floor upon which to do this. Here are a few tips around that:
          <ul class="bodylist">
            <li>Human sweat is one variable that can make this difficult. Bring a towel to wipe off. Men - when basing on a group floor (like the Uber-Mats) wear a shirt.</li>
            <li>Do not wear lotions, sun screens, or anything else that is slippery.</li>
            <li>Do not bring or apply massage oils. You may be winding down for the evening, but if they spill on the mats it could cause someone else to get injured.</li>
          </ul>

        </p>
      </div>
      <h3 class="pagesub">3. Be Here Now</h3> 
      <div class="content">
        <p class="bodytext">Give the gift of your full presence when you practice Acro Yoga. Arrive to jams and classes 100% sober and free from the influence of any chemical, drug, herb, etc. Communication and situational awareness are a crucial part of a good acro experience. Anything that changes or modifies your ability to be fully present puts yourself and other people at risk.</p>
      </div>
      <h3 class="pagesub">4. Be Clean Now</h3> 
      <div class="content">
        <p class="bodytext">Like in social dancing, there is a lot of close physical contact with people when practicing acro yoga.
        <ul class="bodylist">
          <li>If possible, take a shower before you show up to classes or jams. If not, at least freshen your breath, and wash your armpits and feet. Your other acro yogis will greatly appreciate it.</li>
          <li>Avoid strong perfumes and colognes.</li>
          <li>If you have long hair, bring something to tie it back.</li>
          <li>rim your fingernails and toenails.</li>
        </ul>


        </p>
      </div>
      <h3 class="pagesub">5. Speak Your Truth</h3> 
      <div class="content">
        <p class="bodytext">It is always OK to say "Yes" or "No" to an invitation to base, fly, or spot. You don't owe anyone an explanation. If you don't feel comfortable working or playing with someone, or if you just don't feel like playing in that moment, just politely say "No, thank you." If you are already flying and do not feel comfortable doing the pose you're in, or anything that is suggested or requested, remember that "Down!" is the magic word.</p>
        <p class="bodytext">Also, if you ask someone to fly, and they tell you "No," remember what Don Miguel Ruiz said in his book "The Four Agreements": do not take it personally.</p>
      </div>
      <h3 class="pagesub">6. Share The Space</h3> 
      <div class="content">
        <p class="bodytext">Share the floor with other acro yogis. Be mindful about where you set up. Notice where other people are set up and what spaces are available. Set up in a way that leaves optimal space for other people. Be sure to leave enough space around you to allow for safe flying and falling. If you or your flyer move or fall and hit another base or flyer, it can be dangerous. Situational awareness is key.</p>
      </div>
      <h3 class="pagesub">7. Clothing & Accessories</h3> 
      <div class="content">
        <p class="bodytext">A huge part of Acro is about balancing. Over the years I've observed that certain kinds of clothing tend to create problems and even cause flyers to get dropped. Here are a few tips:
        <ul class="bodylist">
          <li>ight Flight: Wear clothing that is tight, but comfortable and easy to move in. Loose or baggy pants and shirts can interfere with your base's feet and hands finding a shelf to hold you.</li>
          <li>Stretch Break! Very stretchy clothing can cause flyers to slip off their base. Slightly stretchy is OK. Non-stretchable is best.</li>
          <li>The Science of Friction: Very slippery clothing makes it very difficult for bases to balance their flyers. Wear fabrics that won't slide off your base's feet.</li>
          <li>Flyer Tuck: If it hangs down below your waist, tuck your shirt into your pants, loose shirts can interfere with your bases feet and hands.</li>
          <li>Pocket Guide: Empty pockets are good. No pockets are better. Bases toes can get caught in pockets.</li>
          <li>Bling: Remove all of your rings, necklaces, long hair extensions, and other jewelry. Not only can they get tangled up with your base, but can end up creating pain, bruises, or even broken bones.</li>


        </ul>
        </p>
      </div>
      <h3 class="pagesub">8. Build Community </h3> 
      <div class="content">
        <p class="bodytext">As with any group, there are bound to be issues. If something comes up, please communicate it with the person. If that doesn't resolve the issue, talk with the instructor or person hosting the jam. Gossip just makes things worse. However, talking about problems and working as a community to resolve them makes things better for everyone. If you have a complaint, figure out how to turn it into a request and speak up! This is how we all learn, grow, and get better.</p>
        <p class="bodytext">As a side note, the Acro community is Austin is experiencing rapid growth. We have more classes and jams than ever before, and we share and practice Acro because we have a passion for it. . None of us are in competition, so let's cultivate respect and build a local Acro community that we can be proud of. Realize too that there are many amazing Acro instructors, workshops, and communities in other states and countries. In this regard, we are part of a larger global community, so it's nice to keep that in perspective.</p>
      </div>
      <h3 class="pagesub">9. Keep Your Pets At Home</h3>
      <div class="content">
        <p class="bodytext">Pets can be cute and wonderful, and they can also be a huge distraction. Practicing acro calls for your best focus possible. When working with partners, the situation can go from perfectly balanced to falling down in an instant. Nearby pets can get hurt or cause someone to get hurt. For everyone's safety, please leave your pets at home.</p>
      </div>
      <h3 class="pagesub">10. Know Your Limits</h3>
      <div class="content">
        <p class="bodytext">Pay attention to your body. If you are feeling tired, it's a good idea to take a break or stop. If you hear yourself thinking or saying "Let me do just this one more thing!" it's usually best to stop before you do it. This keeps everyone safe.</p>
      </div>
      <h3 class="pagesub">11. Know Your Partner's Limits</h3>
      <div class="content">
        <p class="bodytext">If you are basing or flying with someone for the first time, it's a great idea to verbally communicate what you are going to do before you do it. It doesn't matter if your base is the World's Strongest Man, or if your flyer is a Trained Professional Acrobat Contortionist working for Cirque de Soliel, or if you've been doing acro every day for 20 years - do not assume anything!</p>
        <p class="bodytext">What may seem normal and fun for you as a base, might cause your flyer to contract in terror, and end up getting hurt. Again, this gets back to communication. Especially if you've just met someone, or if you don' t know them very well, therapeutics are a great place to start to build trust and rapport.

        </p>
      </div>
      <h3 class="pagesub">12. Communication is Key</h3>
      <div class="content">
        <p class="bodytext">Communicating what you are going to do before you do it is very important - this goes for beginners as well as experienced practitioners. As mentioned in Tip # 8 above, it's important for bases to let their flyer know what they are doing. As a corollary to that, flyers need to talk to their bases if they have something they want to do. I've seen flyers just spontaneously try to go into a pose without telling their base, and then they wonder why they got dropped. It's easy to get caught up in the moment to be inspired to try a move or pose. Channel that excitement into your words and communicate.</p>
        <p class="bodytext">Good communication is the oil that keeps the engine of relationships running smoothly - and yes, this goes for Acro as much as does for any other kind of relationship in your life. In this way, you can think of Acro as a great way to practice making your whole life better. Life is too short not to get what you want - so speak up and communicate!</p>
      </div>
      <h3 class="pagesub">13. Give Your Base A Hand</h3>
      <div class="content">
        <p class="bodytext">Bases always appreciate a hand down and up from their flyer. It's a nice gesture, builds trust and rapport, and once you get it down smoothly, it looks cool.</p>
      </div>
      <h3 class="pagesub">14. Leg Love</h3>
      <div class="content">
        <p class="bodytext">If you love flying, give your base at least a little leg love once you're done. No matter how strong or experienced the base is, a little bit of leg love goes a long way to help keep you and others flying. And don't think they don't remember who does and doesn't give leg love! If you don't know any moves, just ask. They are easy to learn and you can build up a great repertoire of Thai massage moves pretty quickly. Also, the Acro classes around town are a great way to learn Thai massage, which leads us right to...</p>
      </div>
      <h3 class="pagesub">15. Thai Massage</h3>
      <div class="content">
        <p class="bodytext">Thai massage is a great way to wrap up the acro session. Other than warm up partner stretching and a little leg love for your base after flying, it's generally not recommended to do a lot of Thai massage in between acrobatic poses. In acrobatics you need to have tight bodies. Thai massage loosens things up. So save the Thai massage for the end of the jam, or better yet, schedule a time to get together with a partner, learn the extended routines and trade.

</p>
      </div>
      <h3 class="pagesub">16. Wonder Mats (The Uber-Floor!)</h3>
      <div class="content">
        <p class="bodytext">We have been blessed with 400 square feet of Wonder Mats for the Friday Jam (Thank you, Ed Warnicke!). To extend the life of the mats and keep them in the best shape possible, we have two requests:
        <ul class="bodylist">
          <li>Keep all food, drinks, water bottles, purses, bags, etc. off the mats. This helps keep the mats clean and keeps it safe if someone falls. It's OK to have a flight manual at hand.</li>
          <li>When we break down for the evening, we will supply cleaning bottles and rags. When we clean the mats each time we finish, they will be fresh each time we start. Many hands makes for light work, and your help is greatly appreciated.</li>

<li>When cleaning the mats, don't overdo the cleaning spray - a little goes a long way. Also make sure to completely dry off the mats.</li>


        </ul></p>
      </div>
      <h3 class="pagesub">17. Jams & Classes</h3>
      <div class="content">
        <p class="bodytext">Formal classes and workshops taught by experienced instructors, in my opinion, are the best places to learn Acro skills. Jams are a great place to practice what you've learned in the classes and connect with other people in the community. In this way, jams and classes have a synergistic relationship. In this way Acro Yoga is very much like social dancing. If you don't know how to dance, you take some lessons before you go to the social dance, so you can learn some moves to practice. In this regard, it is best to be comfortable basing and flying before you go to a jam.</p>
      </div>
      <h3 class="pagesub">18. Cool Tricks & Amazing Skills</h3>
      <div class="content">
        <p class="bodytext">There are so many awesome poses and sequences that can be done with Acro, partner balancing, and groups of people. We are inspired by the professional acrobats (think Cirque de Soliel) and performers (Pilobolus) to try new things and push the limits of what is possible. We also have people right here in our own community who have been diligently practicing Acro for a number of years, and sometimes when we see them do something awesome, we want to try it out.</p>
        <p class="bodytext">When you see people perform amazing Acro moves, what you don't see is the countless hours and/or years of practice and training to not only make it happen, but to make it easy, graceful, beautiful and as safe as possible. It's good to push our limits and grow and expand our capabilities, as long as it is done safely. If you want to try something new, ask for help, and be sure to have plenty of spotters on hand.

</p>
      </div>
      <h3 class="pagesub">19. Respect The Space & Leave No Trace</h3>
      <div class="content">
      <p class="bodytext lastitem">Our jam space at the Palmer Event center is provided free of charge. We are doing our best to make a great impression and show our appreciation to the security guards who are letting us be there. Please pick up all of your trash and belongings before you leave. Please be mindful that sometimes there are events going on there while we have the jam, and we need to be respectful of their sponsors and the patrons who have paid to be there. Also, remember that there are houses just on the other side of Barton Springs behind the businesses. Keep the noise to a minimum. Shouting, howling, screaming, etc. could irritate someone enough to call the police. If that happens, we can lose the privilege of being there.</p>
    
      </div>
    </div>
  </div>
