<div class='row white'>
	<div class='panel calgallery span12'>
		<div class="row">
			<div class="span12">
		<h2 class="description">
			Please email your photos to <a href="mailto:austinacroyoga@gmail.com">austinacroyoga@gmail.com</a> to add them to the gallery, or submit them to the <a href="/forum">forum.</a> </h2>
		<p class="bodytext">Click on photos to enlarge</p>
		</div>
	</div>
		<div class="row images">
			<div class="span3">
    <a class="fancybox" rel="group" href="/public/images/yoga/acroyoga1.jpg"><img src="/public/images/yoga/acroyoga1.jpg" alt="" /></a>
</div>
	<div class="span3">
<a class="fancybox" rel="group" href="/public/images/yoga/acroyoga2.jpg"><img src="/public/images/yoga/acroyoga2.jpg" alt="" /></a>
</div>	<div class="span3">
<a class="fancybox" rel="group" href="/public/images/yoga/acroyoga3.jpg"><img src="/public/images/yoga/acroyoga3.jpg" alt="" /></a>
</div>	<div class="span3">
<a class="fancybox" rel="group" href="/public/images/yoga/acroyoga4.jpg"><img src="/public/images/yoga/acroyoga4.jpg" class="lastimage" alt="" /></a>
</div>
</div>
<div class="row images">
<div class="span3">
<a class="fancybox" rel="group" href="/public/images/yoga/acroyoga5.jpg"><img src="/public/images/yoga/acroyoga5.jpg" class="lastimage" alt="" /></a>
</div>

<div class="span3">
<a class="fancybox" rel="group" href="/public/images/yoga/acroyoga10.jpg"><img src="/public/images/yoga/acroyoga10.jpg" class="lastimage" alt="" /></a>
</div>
<div class="span3">
<a class="fancybox" rel="group" href="/public/images/yoga/acroyoga7.jpg"><img src="/public/images/yoga/acroyoga7.jpg" class="lastimage" alt="" /></a>
</div>
<div class="span3">
<a class="fancybox" rel="group" href="/public/images/yoga/acroyoga8.jpg"><img src="/public/images/yoga/acroyoga8.jpg" class="lastimage" alt="" /></a>
</div>

</div>  <div class="pushdown"></div>

	</div>	
</div>

