<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="keywords" content="acro yoga, acro yoga austin, acro balancing, partner balancing, austin, texas, yoga, partner yoga, adagio, adagio austin, acro balancing austin, thai massage austin, free event in austin, community events in austin, free yoga">
    <meta name="description" content="A community of people in Austin, Texas who love AcroYoga, acro balancing, adagio, partner   yoga, and Thai massage.">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
   <link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css'>
  <!-- <script type="text/javascript" src="jquery.carousel.js"></script>-->

