
<div class="row white">
  <div class="span12 gallery">
    <!--  Outer wrapper for presentation only, this can be anything you like -->
    <div id="banner-fade">

      <!-- start Basic Jquery Slider -->
      <ul class="bjqs">
        <li><img src="/public/images/yoga/acro1.jpg"></li>
        <li><img src="/public/images/yoga/acro3.jpg"></li>
        <li><img src="/public/images/yoga/acroyoga1.jpg"></li>
        <li><img src="/public/images/yoga/acroyoga3.jpg"></li>
        <li><img src="/public/images/yoga/acroyoga2.jpg"></li>
        <li><img src="/public/images/yoga/acroyoga7.jpg"></li>
        <li><img src="/public/images/yoga/acroyoga6.jpg"></li>
        <li><img src="/public/images/yoga/acroyoga8.jpg"></li>
        <li><img src="/public/images/yoga/acro5.jpg"></li>
      </ul>
      <!-- end Basic jQuery Slider -->
    </div>
    <!-- End outer wrapper -->
  </div>
</div>

<div class="row white">
  <div class="span12">
    <h2 class="description">
      We are a community of people in Austin, Texas who enjoy AcroYoga, acro balancing, adagio, partner yoga, and Thai massage. 
      Our purpose is to play, grow, and have fun, in a safe, supportive, harmonious environment. We value building trust, passion, commitment, respect, healthy communication, and a positive vision for Acro Yoga in Austin.
    </h2> 
  </div> 
</div>

<div class="row white bottom">
  <div class="span12 social">
    <a href="https://www.facebook.com/groups/austinacroyoga/" target="_blank"><img class="icon" src="/public/images/yoga/facebook.png"></img></a>
    <span class="whitetext"> Check out our Facebook group, <a href="https://www.facebook.com/groups/austinacroyoga/" target="_blank">Austin Acro Yoga and Acro Balancing.</a></span>
  </div>
</div> 

