  <div class="container">
    <div class="row topbar mtop">
      <div class="span12 namehold">
        <h1 class="title"><a href="index.php">Austin AcroYoga</a></h1> 
      </div>
    </div>

    <div class="row topbar menubar">

          <div class="menumain span2"><a class="first" href="#">Calendar</a>
          </div>
           <div class="menumain span2 etiquette"><a class="second" href="etiquette.php">Etiquette</a>
          </div>
           <div class=" menumain span2"><a class="third" href="#">Forum</a>
          </div>

           <div class="menumain span2"><a class="fourth" class="small" href="#">FAQ</a>
           </div>
           <div class="menumain span2"><a class="fifth" href="#">Gallery</a>
           </div>
             <div class="menumain span2"><a class="last resources" href="resources.php">Resources</a>
            </div>
      
       </div> 
