<div class='row white'>
	<div class='panel span12'>
  
<div class="row white bottom">
	<div class="span12">
		<h1 class="pagetitle">Resources</h1> 
		<p class="bodytext"><a href="https://www.facebook.com/groups/austinacroyoga/" target="_blank">Austin Acro Balancing & Acro Yoga</a> - Our FaceBook page. Contact us here! </p>

			<p class="bodytext"><a href="http://www.acroyoga.org/" target="_blank">Acro Yoga</a> - The Official Website! They offer many AcroYoga workshops and events around the world. Their Acro Yoga Flight Manual is also an excellent resource.</p>

			<p class="bodytext"><a href="http://www.circusyoga.com/about.html" target="_blank">Circus Yoga</a>- In New York, New York. Building relationships & community through playful practice.</p>

			<p class="bodytext"><a href="http://www.seattleacro.com/" target="_blank">Seattle Acro Yoga</a> - Lux and Dawn have some amazing advanced sequences and transitions. The YouTube videos with Lux and Graeme are quite inspirational and show you things that you may not have even known were possible!
			<p class="bodytext lastitem"><a href="http://mo-de.net/acrobaticyoga/" target="_blank">Acrobatic Yoga </a>- Philidelphia, PA. Coach Lex and Coach Christine have put togehter some excellent training videos that break down some very cool moves step by step. I have not seen any other teaching videos that are this detailed and helpful. Support their sharing of Acrobatic Yoga by purchasing their DVDs.
			
	</div>	
</div>
